<div id="results">
    <ul>
        <li>Air Quality Index: <%= query.data[0].aqi %> </li>
        <li>City: <%= query.city_name %> </li>
        <li>PM10: <%= query.data[0].pm10.toFixed(2) %> µg/m3</li>
        <li>PM25: <%= query.data[0].pm25.toFixed(2)  %> µg/m3</li>
        <li>Carbon Monoxide: <%= query.data[0].co.toFixed(2)  %> µg/m3</li>
        <li>Sulfur Dioxide: <%= query.data[0].so2.toFixed(2)  %> µg/m3</li>
        <li>Nitrogen Dioxide: <%= query.data[0].no2.toFixed(2)  %> µg/m3</li>
    </ul>
    <div id="buttonz">
        <form method="POST" action="/profile">
            <input type="hidden" value="<%= query.city_name %>" name="city_name">
            <input type="hidden" value="<%= query.state_code %>" name="state_code">
            <button type="submit">Add to your cities</button>
        </form>
        
        <form action="/" method="GET">
            <input type="submit" value="Back to search">
        </form>
    </div>
</div>